<h2>{{title}} {{#if featured}}<small><span class="glyphicon glyphicon-star"></span></small>{{/if}}</h2>
<p class='lead'>By: {{listStringify authorNames}}</p>
<p>
  {{description}}
</p>
{{#if isNotReviewed}}
  <h4>New Review</h4>
  {{textarea class='form-control' valueBinding='review.body'}}
  <p class='text-muted'><strong>Preview: </strong>{{markdown review.body}}</p>
  <br />
  <button class="btn btn-primary" {{action 'createReview'}}>Save Review</button>
{{else}}
  <strong>Thanks!</strong>
{{/if}}

{{render 'reviews' reviews}}

