<h2>{{title}} {{#if featured}}<small><span class="glyphicon glyphicon-star"></span></small>{{/if}}</h2>
<p>
  {{description}}
</p>

<h3>Reviews</h3>
{{#each reviews}}
 {{markdown body}}
{{else}}
  No reviews yet.
{{/each}}
{{#if isNotReviewed}}
  <h4>New Review</h4>
  <p class='text-muted'><strong>Preview: </strong>{{markdown review.body}}</p>
  {{textarea class='form-control' valueBinding='review.body'}}
  <br />
  <button class="btn btn-primary" {{action 'createReview'}}>Save Review</button>
{{else}}
  <strong>Thanks!</strong>
{{/if}}
